/* a minimalist set of CSS resets */

/* default to border-box */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* adjust typography defaults */
body {
  margin: 1rem;
  font-family: sans-serif;
  line-height: 1.5;
}

/* images and videos max out at full width */
img,
video {
  height: auto;
  max-width: 100%;
}

/* end resets */

html, body {
  padding: 0;
  margin: 0;
  height: 100%;
}

#map {
  height: 100%;
  background: rgb(120 180 216);
}

.leaflet-container .control-position {
  margin: 0;
  background: rgba(255, 255, 255, 0.7);
  font-size: 11px;
  padding: 0 5px;
}

.grid-label {
  font-family: 'IM Fell English', serif;
  line-height: 1;
  font-size: 32px;
}

.grid-label--horizontal {
  margin-top: -2ch;
}

.grid-label--vertical {
  margin-left: -2ch;
}

.grid-label__text {
  width: 2ch;
  text-align: center;
}

.grid-label--horizontal > .grid-label__text {
  transform: translate(-50%, 0);
}

.grid-label--vertical > .grid-label__text {
  transform: translate(0, -50%);
}

.island-label {
  font-family: 'IM Fell English', serif;
}

.island-label__text {
  font-size: 16px;
  white-space: nowrap;
  transform: translate(-50%, -100%)
}
