/* a minimalist set of CSS resets */

/* default to border-box */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* adjust typography defaults */
body {
  margin: 1rem;
  font-family: sans-serif;
  line-height: 1.5;
}

/* images and videos max out at full width */
img,
video {
  height: auto;
  max-width: 100%;
}

/* end resets */

html, body {
  padding: 0;
  margin: 0;
  height: 100%;
}

#map {
  height: 100%;
  background: rgb(120 180 216);
}

#position-text {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1000;
  background: rgba(255, 255, 255, 0.5);
  padding: 4px 8px;
}

.leaflet-grid-label .gridlabel-vert {
  transform: none;
}
